.home_top {
    background-color: rgb(13, 193, 202);
    width: 80%;
    top: 0px;
    margin-left: 10%;
    margin-right: 10%;
    position: fixed;
    height: 50px;
    border-radius: 20px;
  }
  
  /* .home_top {
  background-color: rgb(156, 207, 14);
  padding: 1%;
  padding-top: 0.1%;
  padding-bottom: 0.1%;
  top: 0px;
  width: 97%;
  position: fixed;
  height: 100px;
  } */
  
  .home_body {
    width: 97%;
    margin: 1%;
    /* background-color: rgb(182, 177, 182); */
  }
  
  .empty {
    width: 98%;
    height: 50px;
    top: 0px;
    margin-top: 0px;
    /* background-color: rgb(187, 36, 36); */
  }
  
  #main_name {
  font-size: 130%;
  /* background-color: cornsilk; */
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  width: auto;
  color: rgb(161, 5, 169);
  text-decoration: none;
  /* float: left; */
  text-align: center;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 2px;
  font-weight: bolder;
  }
  #main_name:hover {
  color: rgb(218, 36, 124);
  }


  .explanation{
    /* padding: 70%; */
    margin-top: 40px;
    padding-left: 20%;
    padding-right: 20%;
    width: 60%;
    text-align: center;
    font-size: larger;
    font-weight: 500;
  }

  .summary{
    padding: 10%;
    margin-bottom: 1%;
    font-family: Arial, Helvetica, sans-serif;
  }

  .s_lines {
    background-color: #ddd;
    box-shadow: 10px 10px rgb(189, 187, 187);
    border-radius: 20px; 
    padding: 20px;
    margin-top: 2px;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 10%;

 }
  


  .input_data {
  padding-right: 10%;
  /* height : 100%; */
  padding-left: 10%;
  padding-bottom: 5%;
  box-sizing: border-box;

}
 .input_data input[type=text], select, textarea {
  width:100%;
  height : 500px;
  padding: 10px;
  border: 4px solid grey;
  border-radius: 10px;
  resize: vertical;

}
.input_data input[type=submit] {
  background-color: #8FA9B6;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.input_data [type=submit]:hover {
  background-color: #45a049;
}

.new{
  border-radius: 8px;
  background-color: #8FA9B6; /* Green */
  border: none;
  color: white;
  width: 10%;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 45%;
  margin-right: 45%;
  
}

